[Unit]
Description=Rsync latest snapper snapshots to /srv/data
After=snapper-timeline.service
RequiresMountsFor=/srv/data

[Service]
Type=oneshot
ExecStart=%h/dotfiles/scripts/snapper-rsync-backup.sh
Nice=19
IOSchedulingClass=idle
